.top {
    background-color: #203744;  
    padding-top: 200px;
    height: 400px;  
    width: 100%;
    text-align: center;
    }

span {
    color: #e95295;
}
    
.top-left p {
    font-family: 'Homemade Apple', cursive;
    font-size: 20px;
    color: #fef263;
    display: inline-block;
    margin: 0 50px;
}

.inform  {
    height: 400px;
    margin: 100px 0;
    text-align: center;
}

.inform h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 50px;
}

.icon p {
    display: inline-block;
    margin: 0 30px;


}


a {
    text-decoration: none;
    color: #2b2b2b;
}

footer {
    height: 400px;
    background-color: #203744;
}
 
.footer-top {
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
    font-size: 35px;
    padding-top: 5px;
    margin-left: 10px;
}

.footer-top a {
    color: #e95295;
}
.footer-bottom {
    text-align: center;
    padding-top: 50px;
}

.btn-smile{
    background-color: white;
    opacity: 0.8;
    border-radius: 10%;
    padding: 20px 40px;
    box-shadow: 0 4px;
}

.click-down:active {
    transform: translateY(4px);
}
